* {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a {
    font-style: unset;
    color: inherit;
}

form,
.button-contact{
    font-family: 'Inconsolata', monospace !important;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}