* {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a {
    font-style: unset;
    color: inherit;
}

form,
select,
.button-contact{
    font-family: 'Inconsolata', monospace !important;
}

:disabled{
    color: #d9d9d9;
}

select:focus {
    outline: 1px solid transparent;
}
select{
    /*color: initial;*/
    padding: 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #9e9e9e !important;
    border-radius: 0px !important;
    height: 3rem;
    outline-offset: -1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url(../img/select-down-arrow.png) no-repeat right 50%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}